<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
    <header th:replace="header::headerFragment('coor')"></header>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
	<title>协作写作</title>
    <!-- 富文本编辑器 -->
    <link th:href="@{/static/css/summernote.css}" rel="stylesheet"/>
    <script th:src="@{/static/js/summernote.js}"></script>


<body>
<div th:replace="header::header-body('coor')"></div>
<div>
	<h3 style="display:none" th:text="${someAttr}"></h3>
	<h3>Data Transfor</h3>
	<button id="saveContent" class="btn">save change</button>
	<button id="getContent" class="btn">get data</button>
	<div class="ibox-content no-padding">
		<div id="summernote" class="summernote"></div>
	</div>
</div>
<!-- 用来存储未修改前的内容 -->
 <!-- style="display:none" -->
<div id="oriContent"></div>

</body>
</html>

<script>
/* document事件 */
	$(document).ready(function() {
		//启动富文本编辑器
        $('#summernote').summernote('code', '');
        syncContent();
        //setInterval(syncContent,5000);
    });
    $(document).on("click","#saveContent",function(){
    	updateContent();
    });
    $(document).on("click","#getContent",function(){
    	syncContent();
    });
    $(document).keyup(function(event){
    	if(event.keyCode ==13){
    		updateContent();
    	}
    });

</script>
<script>
/* 方法 */
	//更新数据
	function updateContent(){
    	var url = "/content/update";
    	var paramList = {'content':$('#summernote').summernote('code')};
    	var contentType = "application/x-www-form-urlencoded";
    	doAjax(url, paramList, contentType);
	}
	// 获取更新
    function syncContent(){
    	var url = "/content/sync";
    	var paramList = {'content':$('#oriContent').text()};
    	//var contentType = "application/json;charset=UTF-8";
    	var contentType = "application/x-www-form-urlencoded";
    	doAjax(url, paramList, contentType);
    }
    function doAjax(url, paramList, contentType){
    	$.ajax({
            type : "POST",
            contentType: contentType,
            url : url,
            //数据，json字符串
            data : paramList,//JSON.stringify(paramList),//
            success : function(result) {
            	if(result.code == 200){
                	$('#summernote').summernote('code', result.data);
                	$('#oriContent').text(result.data);
            	}
            },
            error : function(e){
                console.log(e.status);
                console.log(e.responseText);
            }
        });
    }
</script>
   