<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tester.testermybatis.dao.mapper.OrderMemberMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tester.testermybatis.dao.domain.OrderMemberDomain">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="member_id" property="memberId" />
        <result column="member_account" property="memberAccount" />
        <result column="member_phone" property="memberPhone" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="revision" property="revision" />
        <result column="deleted" property="deleted" />
    </resultMap>
    <sql id="baseSelectSql">
		member_id
        ,order_no
        ,member_account
        ,member_phone
        ,create_time
        ,update_time
        ,revision
        ,deleted
	</sql>
    <sql id="selectSql">
        id,
        <include refid="baseSelectSql"></include>
    </sql>


    <sql id="table_name">
        order_member
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    ${tableName}.id,
    ${tableName}.order_no,
    ${tableName}.member_id,
    ${tableName}.member_account,
    ${tableName}.member_phone,
    ${tableName}.create_time,
    ${tableName}.update_time,
    ${tableName}.revision,
    ${tableName}.deleted
    </sql>

    <select id="testJoinTable" resultType="com.tester.testermybatis.model.response.MemberJoinItemVO">
        select om.member_account,om.member_phone, oi.member_id,oi.order_no,oi.sku_name,oi.sale_price
        from order_member as om join order_item as oi on om.order_no = oi.order_no
        where om.member_id = #{memberId} and oi.deleted = 0 and om.deleted = 0
    </select>

    <select id="testJoinTable2" resultType="com.tester.testermybatis.model.response.MemberJoinItemVO">
        select om.member_account,om.member_phone, oi.member_id,oi.order_no,oi.sku_name,oi.sale_price
        from order_member as om join order_item as oi on om.id = oi.id
        where om.id = #{id} and oi.deleted = 0 and om.deleted = 0
    </select>



    <select id="list" parameterType="com.tester.testermybatis.dao.domain.OrderMemberDomain"
            resultType="com.tester.testermybatis.dao.domain.OrderMemberDomain">
        select <include refid="selectSql"/> from <include refid="table_name"></include> as t
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="memberId != null">
                and member_id = #{memberId}
            </if>
            <if test="orderNo != null">
                and order_no = #{orderNo}
            </if>
            <if test="memberAccount != null">
                and member_account = #{memberAccount}
            </if>
            <if test="memberPhone != null">
                and member_phone = #{memberPhone}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
        </where>
    </select>


    <!--基础CRUD、分页、列表部分 begin-->
    <insert id="save" parameterType="com.tester.testermybatis.dao.domain.OrderMemberDomain"
            keyProperty="id" useGeneratedKeys="true">
        insert into order_member_0
        (
            id,
            order_no,
            member_id,
            member_account,
            member_phone,
            create_time,
            update_time,
            revision,
            deleted
        )
        values
        (
            #{id},
            #{orderNo},
            #{memberId},
            #{memberAccount},
            #{memberPhone},
            #{createTime},
            #{updateTime},
            #{revision},
            #{deleted}

        )
    </insert>

    <update id="update" parameterType="com.tester.testermybatis.dao.domain.OrderMemberDomain">
        update order_member_0
        <set>
            <if test="orderNo != null">
                order_no = #{orderNo},
            </if>
            <if test="memberId != null">
                member_id = #{memberId},
            </if>
            <if test="memberAccount != null and memberAccount != ''">
                member_account = #{memberAccount},
            </if>
            <if test="memberPhone != null and memberPhone != ''">
                member_phone = #{memberPhone},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="revision != null">
                revision = #{revision},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="delete">
        update order_member_0
        <set>
            deleted = 1,
            updated_at = now()
        </set>
        where id = #{id}
    </update>

    <select id="get" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List">
            <property name="tableName" value="t_alias"></property>
        </include>
        from order_member_0 t_alias
        where t_alias.id = #{id}
        and t_alias.deleted = 0
    </select>
</mapper>