<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tester.testersearch.dao.mapper.CandleTradeSignalMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tester.testersearch.dao.domain.CandleTradeSignalDomain">
        <id column="id" property="id"/>
        <result column="b_key" property="bKey"/>
        <result column="open_timestamp" property="openTimestamp"/>
        <result column="strategy_code" property="strategyCode"/>
        <result column="ext_column" property="extColumn"/>
        <result column="trade_sign" property="tradeSign"/>
        <result column="trade_price" property="tradePrice"/>
        <result column="trade_time" property="tradeTime"/>
        <result column="trade_serial_num" property="tradeSerialNum"/>
        <result column="trade_profits_rate" property="tradeProfitsRate"/>
        <result column="trade_profits" property="tradeProfits"/>
        <result column="trade_end" property="tradeEnd"/>
        <result column="trade_start" property="tradeStart"/>
        <result column="ma_trade_profits_rate" property="maTradeProfitsRate"/>
        <result column="ma_trade_profits" property="maTradeProfits"/>
        <result column="skip_num" property="skipNum"/>
        <result column="actual_trade" property="actualTrade"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    ${tableName}.`id`,
    ${tableName}.`b_key`,
    ${tableName}.`open_timestamp`,
    ${tableName}.`strategy_code`,
    ${tableName}.`ext_column`,
    ${tableName}.`trade_sign`,
    ${tableName}.`trade_price`,
    ${tableName}.`trade_time`,
    ${tableName}.`trade_serial_num`,
    ${tableName}.`trade_profits_rate`,
    ${tableName}.`trade_profits`,
    ${tableName}.`trade_end`,
    ${tableName}.`trade_start`,
    ${tableName}.`ma_trade_profits_rate`,
    ${tableName}.`ma_trade_profits`,
    ${tableName}.`skip_num`,
    ${tableName}.`actual_trade`,
    ${tableName}.`deleted`,
    ${tableName}.`create_time`,
    ${tableName}.`update_time`
    </sql>

    <!--基础CRUD、分页、列表部分 begin-->
    <insert id="save" parameterType="com.tester.testersearch.dao.domain.CandleTradeSignalDomain"
            keyProperty="id" useGeneratedKeys="true">
        insert into candle_trade_signal
        (
            `id`,
            `b_key`,
            `open_timestamp`,
            `strategy_code`,
            `ext_column`,
            `trade_sign`,
            `trade_price`,
            `trade_time`,
            `trade_serial_num`,
            `trade_profits_rate`,
            `trade_profits`,
            `trade_end`,
            `trade_start`,
            `ma_trade_profits_rate`,
            `ma_trade_profits`,
            `skip_num`,
            `actual_trade`,
            `deleted`,
            `create_time`,
            `update_time`
        )
        values
        (
            #{id},
            #{bKey},
            #{openTimestamp},
            #{strategyCode},
            #{extColumn},
            #{tradeSign},
            #{tradePrice},
            #{tradeTime},
            #{tradeSerialNum},
            #{tradeProfitsRate},
            #{tradeProfits},
            #{tradeEnd},
            #{tradeStart},
            #{maTradeProfitsRate},
            #{maTradeProfits},
            #{skipNum},
            #{actualTrade},
            #{deleted},
            #{createTime},
            #{updateTime}

        )
    </insert>

    <update id="update" parameterType="com.tester.testersearch.dao.domain.CandleTradeSignalDomain">
        update candle_trade_signal
        <set>
            <if test="bKey != null and bKey != ''">
                `b_key` = #{bKey},
            </if>
            <if test="openTimestamp != null">
                `open_timestamp` = #{openTimestamp},
            </if>
            <if test="strategyCode != null and strategyCode != ''">
                `strategy_code` = #{strategyCode},
            </if>
            <if test="extColumn != null and extColumn != ''">
                `ext_column` = #{extColumn},
            </if>
            <if test="tradeSign != null">
                `trade_sign` = #{tradeSign},
            </if>
            <if test="tradePrice != null">
                `trade_price` = #{tradePrice},
            </if>
            <if test="tradeTime != null">
                `trade_time` = #{tradeTime},
            </if>
            <if test="tradeSerialNum != null">
                `trade_serial_num` = #{tradeSerialNum},
            </if>
            <if test="tradeProfitsRate != null">
                `trade_profits_rate` = #{tradeProfitsRate},
            </if>
            <if test="tradeProfits != null">
                `trade_profits` = #{tradeProfits},
            </if>
            <if test="tradeEnd != null">
                `trade_end` = #{tradeEnd},
            </if>
            <if test="tradeStart != null">
                `trade_start` = #{tradeStart},
            </if>
            <if test="maTradeProfitsRate != null">
                `ma_trade_profits_rate` = #{maTradeProfitsRate},
            </if>
            <if test="maTradeProfits != null">
                `ma_trade_profits` = #{maTradeProfits},
            </if>
            <if test="skipNum != null">
                `skip_num` = #{skipNum},
            </if>
            <if test="actualTrade != null">
                `actual_trade` = #{actualTrade},
            </if>
            <if test="deleted != null">
                `deleted` = #{deleted},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
        </set>
        where id = #{id}
        and b_key = #{bKey}
    </update>

    <update id="delete">
        update candle_trade_signal
        <set>
            deleted = 1,
            updated_at = now()
        </set>
        where id = #{id}
    </update>

    <update id="deleteByBKey">
        update candle_trade_signal
        <set>
            deleted = 1,
            updated_at = now()
        </set>
        where id = #{id}
        and b_key = #{bKey}
    </update>

    <select id="get" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List">
            <property name="tableName" value="t_alias"></property>
        </include>
        from candle_trade_signal t_alias
        where t_alias.id = #{id}
        and t_alias.deleted = 0
    </select>

    <select id="getByBKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List">
            <property name="tableName" value="t_alias"></property>
        </include>
        from candle_trade_signal t_alias
        where t_alias.id = #{id}
        and b_key = #{bKey}
        and t_alias.deleted = 0
    </select>

    <select id="list" resultMap="BaseResultMap"
            parameterType="com.tester.testersearch.dao.domain.CandleTradeSignalDomain">
        select
        <include refid="Base_Column_List">
            <property name="tableName" value="t_alias"></property>
        </include>
        from candle_trade_signal t_alias
        <where>
            <trim prefixOverrides="AND |OR ">
                <if test="bKey != null and bKey != ''">
                    AND t_alias.`b_key` = #{bKey}
                </if>
                <if test="openTimestamp != null">
                    AND t_alias.`open_timestamp` = #{openTimestamp}
                </if>
                <if test="openTimestampList !=null and openTimestampList.size > 0">
                    AND t_alias.`open_timestamp` in
                    <foreach collection="openTimestampList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="strategyCode != null and strategyCode != ''">
                    AND t_alias.`strategy_code` = #{strategyCode}
                </if>
                <if test="extColumn != null and extColumn != ''">
                    AND t_alias.`ext_column` = #{extColumn}
                </if>
                <if test="tradeSign != null">
                    AND t_alias.`trade_sign` = #{tradeSign}
                </if>
                <if test="tradePrice != null">
                    AND t_alias.`trade_price` = #{tradePrice}
                </if>
                <if test="tradeTime != null">
                    AND t_alias.`trade_time` = #{tradeTime}
                </if>
                <if test="tradeSerialNum != null">
                    AND t_alias.`trade_serial_num` = #{tradeSerialNum}
                </if>
                <if test="tradeProfitsRate != null">
                    AND t_alias.`trade_profits_rate` = #{tradeProfitsRate}
                </if>
                <if test="tradeProfits != null">
                    AND t_alias.`trade_profits` = #{tradeProfits}
                </if>
                <if test="tradeEnd != null">
                    AND t_alias.`trade_end` = #{tradeEnd}
                </if>
                <if test="tradeStart != null">
                    AND t_alias.`trade_start` = #{tradeStart}
                </if>
                <if test="maTradeProfitsRate != null">
                    AND t_alias.`ma_trade_profits_rate` = #{maTradeProfitsRate}
                </if>
                <if test="maTradeProfits != null">
                    AND t_alias.`ma_trade_profits` = #{maTradeProfits}
                </if>
                <if test="skipNum != null">
                    AND t_alias.`skip_num` = #{skipNum}
                </if>
                <if test="actualTrade != null">
                    AND t_alias.`actual_trade` = #{actualTrade}
                </if>
            </trim>
        </where>
        order by t_alias.open_timestamp asc
    </select>

    <insert id="batchSave" parameterType="java.util.List"
            keyProperty="id" useGeneratedKeys="true">
        insert into candle_trade_signal
        (
        `id`,
        `b_key`,
        `open_timestamp`,
        `strategy_code`,
        `ext_column`,
        `trade_sign`,
        `trade_price`,
        `trade_time`,
        `trade_serial_num`,
        `trade_profits_rate`,
        `trade_profits`,
        `trade_end`,
        `trade_start`,
        `ma_trade_profits_rate`,
        `ma_trade_profits`,
        `skip_num`,
        `actual_trade`,
        `deleted`,
        `create_time`,
        `update_time`
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.bKey},
            #{item.openTimestamp},
            #{item.strategyCode},
            #{item.extColumn},
            #{item.tradeSign},
            #{item.tradePrice},
            #{item.tradeTime},
            #{item.tradeSerialNum},
            #{item.tradeProfitsRate},
            #{item.tradeProfits},
            #{item.tradeEnd},
            #{item.tradeStart},
            #{item.maTradeProfitsRate},
            #{item.maTradeProfits},
            #{item.skipNum},
            #{item.actualTrade},
            #{item.deleted},
            #{item.createTime},
            #{item.updateTime}

            )
        </foreach>
    </insert>


    <select id="getByTimestamp" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List">
            <property name="tableName" value="t_alias"></property>
        </include>
        from candle_trade_signal t_alias
        where t_alias.b_key = #{bKey}
        and t_alias.open_timestamp = #{openTimestamp}
        and t_alias.strategy_code = #{strategyCode}
        and deleted = 0
    </select>

    <!--基础CRUD、分页、列表部分 end-->
</mapper>